<header>
  <div class="container center">
    <div class="row">
      <a href="/">
        <pre class="black-text col s12 m12 l12" id="ascii"></pre>
      </a>
    </div>
    <div class="row">
      <a class="social" href="https://github.com/aksm">
        <img class="hoverable" src="../../images/github.png">
      </a>
      <a class="social" href="https://www.linkedin.com/in/albertmin
    ">
        <img class="hoverable" src="../../images/linkedin.png">
      </a>
      <a class="social" href="http://stackexchange.com/users/8940997/albert-min">
        <img class="hoverable" src="../../images/stackoverflow.png">
      </a>
    </div>
  </div>
</header>
<br><br>

<main>
  <div class="container" {{#if commentID}}data-commentid="{{commentID}}" data-blogcommentid="{{blogID}}"{{/if}} id="blog-container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <h5>{{blogPost.title}}</h5>
              <h6>{{formatDate blogPost.createDate "short"}} | Updated {{formatRelative blogPost.postDate}} <a class="right hoverable" href="/blog/page/{{blogPost._id}}">Permalink</a></h6>
              
            </span>
            <div class="row markdown-body browser-default blog-permalink">
              {{{blogPost.body}}}
            </div>
            <div class="card-action markdown-body blog-permalink">
              Tags: 
              {{#each blogPost.tags}}
              <div class="chip">{{this}}</div>
              {{/each}}
            </div>
                <div class="row markdown-body">
                  <a class="btn-floating btn-small waves-effect grey lighten-3 waves-white right comment-button" data-id="{{blogPost._id}}" id="comment-button-{{blogPost._id}}"><i class="material-icons grey-text">comment</i></a>
                </div>
                {{#if blogPost.comments.length}}
                <div class="card-action comment-panel-{{blogPost._id}}" hidden>
                  <ul class="collection">
                  {{#each blogPost.comments}}
                    <li class="collection-item avatar comment" id="{{_id}}">
                      <i class="material-icons circle">record_voice_over</i>
                      <span class="commenter">{{commenterName}}</span>
                      <span class="right">Commented {{formatRelative postDate}}</span>
                      <br>
                      <br>
                      <p>{{comment}}</p>
                    </li>
                  {{/each}}
                  </ul>
                </div>
                {{/if}}
                <div class="card-action comment-panel-{{blogPost._id}}" id="comment-form" hidden>
                  <form class="comment-form" method="POST" action="/blog/comment/post?_method=POST">
                    <input name="comment_id" id="comment-id" type="hidden" value="{{blogPost._id}}">
                    <input name="source" id="comment-source" type="hidden" value="permalink">
                    <div class="row">
                      <div class="col s12 comment-field">
                        <textarea name="comment_text" id="comment-message-1" class="materialize-textarea comment-field comment-input" placeholder="Tell all the truth but tell it slant..." data-id="1"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m5 l4 comment-field">
                        <input name="name" id="comment-name-1" type="text" class="validate comment-field comment-input" placeholder="Name (Required.)" required="required" data-id="1">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m5 l4 comment-field">
                        <input name="email" id="comment-email-1" type="email" class="validate comment-field comment-input" placeholder="Email (Required. Won't be shared.)" required="required" data-id="1">
                      </div>
                    </div>
                    <div class="row">
                      <button id="post-comment-1" class="btn-flat waves-effect waves-grey white black-text right disabled post-comment" type="submit" name="action">POST</button>
                    </div>
                  </form>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer white">
    <div class="container">
      <div id="copyright" class="center">&copy; 2016 Albert Min</div>
    </div>
    <br><br>
</footer>
<script src="../../js/init.js"></script>
<script src="../../js/asciiMorph.min.js"></script>

