<header>
  <div class="container center">
    <div class="row">
      <pre class="black-text col s12 m12 l12" id="ascii"></pre>
    </div>
    <div class="row">
      <a class="social" href="https://github.com/aksm">
        <img class="hoverable" src="images/github.png">
      </a>
      <a class="social" href="https://www.linkedin.com/in/albertmin
    ">
        <img class="hoverable" src="images/linkedin.png">
      </a>
      <a class="social" href="http://stackexchange.com/users/8940997/albert-min">
        <img class="hoverable" src="images/stackoverflow.png">
      </a>
    </div>
  </div>

  <nav class="white z-depth-0">
    <div class="container">
      <div class="row">

        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a class="black-text section-header" id="profile-trigger" href="#about">About</a>
            </li>
            <li class="tab col s3">
              <a class="black-text section-header" href="#portfolio">Portfolio</a>
            </li>
            <li class="tab col s3">
              <a class="active black-text section-header" href="#blog">Blog</a>
            </li>
            <li class="tab col s3">
              <a class="black-text section-header" href="#contact">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

</header>

<br><br>

<main>
  <div class="container">
    <div id="about" class="col s12 m12 l12">
        <div class="row">
            <img id="profile-pic" class="hide col s4 m4 l4 offset-s4 offset-m4 offset-l4" src="images/moi.jpg">
            <img id="profile-ascii" class="col s4 m4 l4 offset-s4 offset-m4 offset-l4" src="images/moiascii.png">
        </div>

        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <h4 class="center">About This Site</h4>
            <p id="bio-text" class="about-text flow-text grey-text text-darken-1">The site was built with <a href="https://nodejs.org/en/">Node.js</a> and <a href="http://materializecss.com/">Materialize</a>. For more details <a href="http://www.albertmin.com/blog/page/586db6f1404a4f0011e2578e">see my first blog post</a>.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <h4 class="center">About Me</h4>
            <p id="bio-text" class="about-text flow-text grey-text text-darken-1">Some of my first coding experiences involved replicating complex ASCII art in DOS. I can still vividly hear the latch lever's thick click and the chirring whir of the 5.25 floppy drive where I'd save my progress. Little I knew that this initial exposure to the REPL and command line would be my first steps into our ubiquitous digital age. Text editor at the ready, I'm eager and curious to be part of what's ahead.</p>
          </div>
        </div>

      </div>
    </div>

    <div id="portfolio" class="col s12 m12 l12">
      <div class="row center">
{{!--         <pre class="coming"></pre>
        <pre class="soon"></pre>
 --}}
        <div class="container">

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="https://www-drv.com/~albert.min@gmail.com/gd/am/motomd.png">
                </div>
                <div class="card-content">
                  <p>App built with a team for doctors to be paged to initiate video chat via Twilio API.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://glacial-savannah-68565.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/almotomd" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/metube.png">
                </div>
                <div class="card-content">
                  <p>Youtube search clone built with React.js following <a href="https://www.udemy.com/react-redux/learn/v4/">Stephen Grider's tutorial</a>.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://radiant-river-35616.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/metube" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="https://www-drv.com/~albert.min@gmail.com/gd/am/democlipsave.gif">
                </div>
                <div class="card-content">
                  <p>Searchable and sortable Github-flavored Markdown blog with live-preview and commenting coded from scratch.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="http://www.albertmin.com/blog/page/586db6f1404a4f0011e2578e" target="_blank">Description</a>
                  <a class="grey-text" href="https://github.com/aksm/personal-site" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/nocomment.png">
                </div>
                <div class="card-content">
                  <p>News-scraper using request and cheerio with commenting feature.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://cryptic-thicket-84121.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/nocomment" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/groots.gif">
                </div>
                <div class="card-content">
                  <p>Grassroots organizing app with Passport.js authentication and MySQL back-end.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://blooming-mesa-49377.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/groupsapp" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/bamazon.png">
                </div>
                <div class="card-content">
                  <p>Simplified Amazon clone with inventory stored in MySQL.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://morning-basin-61348.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/Bamazon" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/rpsls.png">
                </div>
                <div class="card-content">
                  <p>Multi-player Rock Paper Scissors Lizard Spock game using Giphy API with chat using Firebase.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://still-garden-45092.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/RPS-Multiplayer" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/hangman.png">
                </div>
                <div class="card-content">
                  <p>"More Cowbell" Blue Öyster Cult "(Don't Fear) The Reaper" themed Hangman game using random word API.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://mighty-coast-48051.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/Hangman" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/starwarsrpg.png">
                </div>
                <div class="card-content">
                  <p>Star Wars RPG using HTML5 Canvas animation.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://powerful-atoll-96310.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/StarWarsRPG" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/trivia.png">
                </div>
                <div class="card-content">
                  <p>Trivia game based on the Jeopardy-scraping API jService.io.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://still-bayou-18694.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/TriviaGame" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/friendfinder.png">
                </div>
                <div class="card-content">
                  <p>Friend-matching application with authentication.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://young-river-83855.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/friendfinder" target="_blank">GitHub</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/regiphy.gif">
                </div>
                <div class="card-content">
                  <p>Giphy API demonstration with search.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://stormy-cliffs-60872.herokuapp.com/" target="_blank">Demo</a>
                  <a class="grey-text" href="https://github.com/aksm/ReGiphy" target="_blank">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/ricerocks.png">
                </div>
                <div class="card-content">
                  <p>Rice Rocks (Asteroid game clone) built with Python.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="http://www.codeskulptor.org/#user16_vLyl9L9fBHOzBYD.py" target="_blank">Demo (Explode Al's Head Version)</a>
                  <a class="grey-text" href="http://www.codeskulptor.org/#user16_U1s1v9lbxA1T6bl.py" target="_blank">Demo</a>
                </div>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-image">
                  <img src="images/downtherabbithole.png">
                </div>
                <div class="card-content">
                  <p>"Down the Rabbit Hole" game built using MIT's Scratch platform.</p>
                </div>
                <div class="card-action">
                  <a class="grey-text" href="https://scratch.mit.edu/projects/113087994/" target="_blank">Demo</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div id="blog" class="col s12 m12 l12">
{{!--       <div class="row center">
        <pre class="coming"></pre>
        <pre class="soon"></pre>
      </div>
 --}}
      <ul class="collapsible z-depth-0 blog-toolbar-collapsible" data-collapsible="expandable">
        <li>
          <div class="row white blog-toolbar valign-wrapper">
            <div class="col s2 m1 l1 offset-s1 offset-m1 offset-l2 valign">
              <a href="#!"><i class="small material-icons grey-text dropdown-button" data-activates="sort-button" data-belowOrigin="true" data-constrainWidth="false">keyboard_arrow_down</i></a>
                <ul id='sort-button' class='dropdown-content'>
                  <li><a href="/blog/sort?sortType=recentupdate" class="grey-text"><i class="small material-icons grey-text">keyboard_arrow_down</i> recent updated</a></li>
                  <li><a href="/blog/sort?sortType=oldupdate" class="grey-text"><i class="small material-icons grey-text">keyboard_arrow_down</i> oldest updated</a></li>
                  <li><a href="/blog/sort?sortType=recentposted" class="grey-text sort-type"><i class="small material-icons grey-text">keyboard_arrow_down</i> recent posted</a></li>
                  <li><a href="/blog/sort?sortType=oldposted" class="grey-text"><i class="small material-icons grey-text">keyboard_arrow_up</i> oldest posted</a></li>
                </ul>
            </div>
            <div class="col s2 m1 l1 valign">
              <a href="#!" id="search-trigger"><i class="small material-icons grey-text">search</i></a>
            </div>
            <div class="col s8 m10 l10 valign"></div>

          </div>
          <div id="search-header" class="collapsible-header"></div>
          <div class="container collapsible-body" id="search-box">
            <div class="row">
              <form class="col s12 m6 l4 offset-m3 offset-l4" method="POST" action="/blog/search?_method=POST">
                  <input id="tagSearch" name="tagSearch" type="hidden" value="[]">
                <div class="input-field">
                  <input id="search" name="search" placeholder="Text search" type="search">
                  <label class="label-icon" for="search"><i class="material-icons grey-text">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
            <div class="row" id="tag-auto" data-tags="{{#each tagCount}}{{_id}},{{/each}}">
              <div class="col s12 m6 l4 offset-m3 offset-l4 chips chips-autocomplete"></div>  
            </div>
          </div>
        </li>
      </ul>

      {{#if search}}
      <div class="row">
        <div class="col s10 m10 l8 offset-s1 offset-m1 offset-l2">
        <h6>{{blogPost.length}} Results</h6>
        </div>
      </div>
      {{/if}}
      <div class="container" {{#if commentID}}data-commentid="{{commentID}}" data-blogcommentid="{{blogID}}"{{/if}} id="blog-container">
        <div class="row">
          <ul class="collapsible popout" data-collapsible="expandable">
            {{#each blogPost}}
            <li class="card">
              <div class="collapsible-header {{#activePost @index}}
                active
                {{/activePost}}" id="{{_id}}">
              <h5>{{title}}</h5>
              <div class="badge">{{formatDate createDate "short"}} | Updated {{formatRelative postDate}} <a class="hoverable right" href="/blog/page/{{_id}}">Permalink</a></div>
              </div>
              <div class="collapsible-body">
                <div class="row browser-default markdown-body">
                  {{{body}}}
                </div>
                <div class="row markdown-body">
                Tags: 
                  {{#each tags}}
                  <div class="chip">{{this}}</div>
                  {{/each}}
                </div>
                <div class="row markdown-body">
                  <a class="btn-floating btn-small waves-effect grey lighten-3 waves-white right comment-button" data-id="{{_id}}" id="comment-button-{{_id}}"><i class="material-icons grey-text">comment</i></a>
                </div>
                {{#if comments.length}}
                <div class="card-action comment-panel-{{_id}}" hidden>
                  <ul class="collection">
                  {{#each comments}}
                    <li class="collection-item avatar comment" id="{{_id}}">
                      <i class="material-icons circle">record_voice_over</i>
                      <span class="commenter">{{commenterName}}</span>
                      <span class="right">Commented {{formatRelative postDate}}</span>
                      <br>
                      <br>
                      <p>{{comment}}</p>
                    </li>
                  {{/each}}
                  </ul>
                </div>
                {{/if}}
                <div class="card-action comment-panel-{{_id}}" id="comment-form-{{@index}}" hidden>
                  <form class="comment-form" method="POST" action="blog/comment/post?_method=POST">
                    <input name="comment_id" id="comment-id-{{@index}}" type="hidden" value="{{_id}}">
                    <input name="source" id="comment-source" type="hidden" value="index">
                    <div class="row">
                      <div class="col s12 comment-field">
                        <textarea name="comment_text" id="comment-message-{{@index}}" class="materialize-textarea comment-field comment-input" placeholder="Tell all the truth but tell it slant..." data-id="{{@index}}"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m5 l4 comment-field">
                        <input name="name" id="comment-name-{{@index}}" type="text" class="validate comment-field comment-input" placeholder="Name (Required.)" required="required" data-id="{{@index}}">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m5 l4 comment-field">
                        <input name="email" id="comment-email-{{@index}}" type="email" class="validate comment-input comment-field" placeholder="Email (Required. Won't be shared.)" required="required" data-id="{{@index}}">
                      </div>
                    </div>
                    <div class="row">
                      <button id="post-comment-{{@index}}" class="btn-flat waves-effect waves-grey white black-text right disabled post-comment" type="submit" name="action">POST</button>
                    </div>
                  </form>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
    <div id="contact" class="col s12 m12 l12">
      <div class="container">
      <div class="row">
      <form class="col s8 m6 l6 offset-s2 offset-m3 offset-l3" method="POST" action="/contact?_method=POST">
        <div class="row">
          <div class="input-field col s12">
            <input name="name" id="name" type="text" class="validate" required="required">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" required="required">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="message" name="message" class="materialize-textarea" required="required"></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-grey white black-text" type="submit" name="action">SUBMIT
          </button>
        </div>
      </form>
      </div>
      </div>

    </div>
    
  </div>
</div>
</main>


<div id="blog-admin" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
    <form class="col s6 m4 l2 offset-s3 offset-m4 offset-l5" method="POST" action="/login?_method=POST">

      <div class="row">
        <div class="input-field col s12">
          <input name="uname" id="uname" type="text" class="validate" required="required">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="pword" id="pword" type="password" class="validate" required="required">
        </div>
      </div>
      <div class="row">
        <button class="waves-effect waves-grey btn-flat col s12 center" type="submit" name="action"></button>
      </div>

    </form>
    </div>

  </div>

</div>


<footer class="page-footer white">
    <div class="container">
      <div id="copyright" class="center">&copy; 2016 Albert Min</div>
    </div>
    <br><br>
</footer>

<script src="/js/init.js"></script>
<script src="/js/asciiMorph.min.js"></script>
